<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".hash" />
            <mimeMap fileExtension=".hash" mimeType="text/plain" />
            <remove fileExtension=".unityweb" />
            <mimeMap fileExtension=".unityweb" mimeType="application/octet-stream" />
            <remove fileExtension=".bundle" />
            <mimeMap fileExtension=".bundle" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>